body {
    font: 16px/28px 'Microsoft YaHei';
}
h1 {
    font-weight: 400;
    text-align: center;
}
.grey {
    color : #888888;
    text-align: center;
    font-size: 12px;
}
.search {
    color : #666;
    width: 170px;
}
.btn {
    font-weight: 700;
}
a {
    text-decoration: none;
}
p {
    text-indent: 2em;
}
.img {
    text-align: center;
}
.footer {
    color : #888888;
    font-size: 12px;
}